body {
  margin: 0;
}

header {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;

}

.logo {
  padding: 10px 20px;
  text-align: center;
  font-size: 2rem;
  background-color: white;
  position: relative;
  box-shadow:  0 3px 5px 0 rgba(0, 0, 0, 0.2),
               0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.logo-up {
  top: -63px;
  transition: top .2s;
}

.logo-down {
  top: 0;
  transition: top .2s;
}

.nav {
  width: 100%;
  height: 60px;
  background-color: gray;
}

.nav .nav-container {
  margin: 0 auto;
  height: 60px;
  max-width: 400px;
}

.nav .nav-container .nav-item {
  /* line-height: 60px; */
  padding: 18px 0;
  display: inline-block;
  margin-left: 30px;
}

.nav .nav-container .nav-item:hover {
  /* background-color: gray; */
}

.nav-item .menu a, .nav-item .submenu a{
  color: rgba(255, 255, 255, 0.5);
}

.nav-item:hover .menu a, .nav-item .submenu li:hover a{
  color: rgba(255, 255, 255, 1);
  transition: color .2s;
}

.nav .nav-container .nav-item .submenu {
  position: absolute;
  top: 127px;
  margin: 0;
  padding: 0 0 10px 10px;
  background-color: gray;
  opacity: 0;
}

.nav-container .nav-item:hover ul#subid {
  opacity: 1;
  transition: opacity .2s;
}
section {
  padding: 127px 30px 0 30px;
  border-left: 1px solid black;
}
article {
  width: 100%;
}
