body {
  margin: 0;
  background-image: url("../img/mainbg.png");
  background-attachment: fixed;
}

header {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo-up {
  top: -120px;
  transition: top .2s;
}

.logo-down {
  top: 0;
  transition: top .2s;
}

.nav.logo-up {

}

.nav {
  margin-top: 60px;
  width: 100%;
  height: 60px;
}

.nav .nav-container {
  margin: 0 auto;
  height: 60px;
  max-width: 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav .nav-container .nav-item {
  /* line-height: 60px; */
  padding: 18px;
  width: 50px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  background-color: rgba(136, 176, 197, 0.6);
}

.nav .nav-container .nav-item:hover {
  /* background-color: gray; */
  background-color: rgba(136, 176, 197, 0.8);
  transition: background-color .2s;
}

.nav-container .nav-item:hover ul#subid {
  opacity: 1;
  transition: opacity .2s;
}

section {
  margin: 200px 0 100px 0;
  padding: 0px 30px 0 30px;
  border-left: 1px solid black;
}

.gallery {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
}

.slide-container {
  display: flex;
}

.slides {
  padding: 5px;
}

.slides img {
  vertical-align: bottom;
}

.slide-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  z-index: 99;
}

.slide-control:focus {
  outline: none;
}

.slide-control.prev {
  left: 0;
}

.slide-control.next {
  right: 0;
}

.slide-control.disabled {
  opacity: 0.5;
}
