@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
  margin: 0;
  background-image: url("../img/mainbg.png");
  background-attachment: fixed;
}

header {
  top: 0;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.logo-up {
  top: -120px;
  transition: top .2s;
}

.logo-down {
  top: 0;
  background-color: white;
  transition: top .2s;
}

.nav {
  width: 100%;
  height: 60px;
}

.nav .nav-container {
  margin: 0 auto;
  height: 60px;
  max-width: 400px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav .nav-container .nav-item {
  line-height: 40px;
  padding: 0px 18px;
  height: 40px;
  width: 50px;
  text-align: center;
  display: inline-block;
  margin: 10px auto;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color:#3d3f62;
  transition: background-color .2s;
  border-radius: 5px;
}

.nav .nav-container .nav-item a {
  font-family: 'PT Sans Narrow', sans-serif;
}

.nav .nav-container .nav-item:hover {
  /* background-color: gray; */
}

.nav-container .nav-item:hover ul#subid {
  opacity: 1;
  transition: opacity .2s;
}

section {
  margin: 0px 0 100px 0;
  padding: 0;
  border-left: 1px solid black;
}

.gallery {
  padding: 0;
  position: relative;
  margin: 0 auto;
  overflow: visible;
  border-top: 1px solid black;
}

.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.slides img {
  width: 100%;
  vertical-align: bottom;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.slide-control:focus {
  outline: none;
}

.slide-control.prev {
  left: 0;
}

.slide-control.next {
  right: 0;
}

.slide-control.disabled {
  opacity: 0.5;
}
